.header{
    background: #FF7400;
    display: flex;
    height: 500px;
    padding: 100px;
    border: 20px solid red;
    justify-content: center;
    align-items: center;
}
.accordion{
    background-color: #00ff9d;
    padding: 40px;
    border: solid 10px darkmagenta;
}
.accordion-item{
    background: #D67E35;
    border-radius: 20px;
}
.accordion-body{
    border: cornflowerblue;
}
.accordion-button{
    background: gold;
}



















